concours/clef API.txt
concours/__pycache__/
concours/config.json
concours/calldb.json
concours/shared_log.json
concours/tests/__pycache__/
concours/.auth_token
concours/radiocontest.db
concours/.server_config.json
concours/qtc_log.json
